
@section Scripts {


<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "/Home/Provincias/List",
            datatype: "Json",
            success: function (data) {
                $.each(data, function (index, value) {
                    $("#Provincias").append('<option value="' + value.ProvinciaId + '">' + value.NombreProvincia + '</option>');
                });
            }
        });

        $("#Provincias").change(function () {

            $("#Ciudades").empty();

            $.ajax({
                type: "POST",
                url: "/Home/Ciudades/List",
                datatype: "Json",
                data: { ProvinciaId: $('#ProvinciaId').val() },
                success: function (data) {
                    $.each(data, function (index, value) {
                        $('#Ciudades').append('<option value="' + value.CiudadesId + '">' + value.NombreCiudad + '</option>');
                    });
                }
            });
        });
    });
</script>
    @*<script type="text/javascript">
        


            $(function () {
                $.ajax({
                    type: "GET",
                    url: "/Home/Provincias/List",
                    datatype: "Json",
                    success: function (data) {
                        $.each(data, function (index, value) {
                            $("#Provincias").append('<option value="' + value.provincia + '">' + value.provincia + '</option>');
                        });
                    }
                });
            $("#Provincias").change(function () {
                $("#Ciudad").empty();
                $.ajax({
                    type: 'POST',
                    url: "/Home/Ciudades/List",
                    dataType: "Json",
                    data: { id: $("#Provincias").val() },
                    success: function (citys) {
                        // states contains the JSON formatted list
                        // of states passed from the controller
                        $.each(citys, function (i, city) {
                            $("#Ciudad").append('<option value="' + city.Value + '">' + city.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })
        });

            $("#Provincias").change(function () {
                $.getJSON("/Home/Ciudades/List" + $("#Provincias > option:selected").attr("value"), function (data) {
                    var items = "<option>----------------</option>";
                    $.each(data, function (i, ciudad) {
                        items += "<option value='>" + ciudad.Value + "'>" + ciudad.Text + "</option>";
                    });
                    $("#Ciudades").html(items);
                });
            });
        });
    </script>*@


}
<h1>@ViewBag.Title</h1>

@using (Html.BeginForm())
{
    <label for="Provincias">Provincias</label>
    <select id="Provincias" name="Provincias"></select>
    <br /><br />

    <label for="Ciudades">Ciudades</label>
    <select id="Ciudades" name="Ciudades"></select>
    <br /><br />
    <input type="submit" value="Submit" />
}

