
@section Scripts {

    <script type="text/javascript">
        $(function () {
            $.getJSON("/Home/Provincias/List", function (data) {
                var items = "<option>--------------</option>";
                $.each(data, function (i, provincia) {
                    items += "<option value='>" + provincia.Value + "'>" + provincia.Text + "</option>";
                });
                $("#Provincias").html(items);
            });

            $("#Provincias").change(function () {
                $.getJSON("/Home/Ciudades/List" + $("#Provincias > option:selected").attr("value"), function (data) {
                    var items = "<option>----------------</option>";
                    $.each(data, function (i, ciudad) {
                        items += "<option value='>" + ciudad.Value + "'>" + ciudad.Text + "</option>";
                    });
                    $("#Ciudades").html(items);
                });
            });
        });
    </script>
}
<h1>@ViewBag.Title</h1>

@using (Html.BeginForm())
{
    <label for="Provincias">Provincias</label>
    <select id="Provincias" name="Provincias"></select>
    <br /><br />

    <label for="Ciudades">Ciudades</label>
    <select id="Ciudades" name="Ciudades"></select>
    <br /><br />
    <input type="submit" value="Submit" />
}

